#packages {
    margin-top: 100px;
}

#packages table {
    margin: 0 50px 50px;
}

#packages table tr td {
    padding: 35px 0;
}

#packages table tr td:first-of-type {
    width: 25%;
}

#packages table tr td:nth-of-type(2) {
    width: 75%;
    padding-left: 100px;
}

#packages table tr td:first-of-type img {
    width: 100%;
    height: 100%;
}